{% extends 'Resume/index.html' %}

{% block title %}
          <div class="h2 title">Your message was sent successfully.</div>

{% endblock %}

        {% block Content %}
          <p>Thank you for reaching out to me, I will revert swiftly. </p><a class="btn btn-primary smooth-scroll mr-2" href="#contact" data-aos="zoom-in" data-aos-anchor="data-aos-anchor">Hire Me</a><a class="btn btn-primary" href="#" data-aos="zoom-in" data-aos-anchor="data-aos-anchor">Download CV</a>

          {% endblock %}


